* {
  box-sizing: border-box;
  color: black;
  text-decoration: none;
}

.articles-list {
  list-style: none;
  padding: 0px ;
  margin: auto;
  width: 50%;
  min-width: 350px;
}

img {
  width: 100%;
  padding: 0px 10px;
}

.article-card {
  border: 1px solid black;
  padding: 10px;
}

.article-card:hover {
  background-color: rgb(227, 230, 230);
  border: 2px solid black;
}

.nav-bar {
  display: flex;
  background-color: rgb(0, 0, 0);
  justify-content: space-around;
}

.nav-bar * {
  color: white;
}

.single-article {
    margin: auto;
    width: 50%;
    min-width: 350px;
    text-align: justify;
}

.comments-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: justify;
}

.comment-card {
    border: 1px solid black;
    padding: 10px;
}

.article-card-section {
    display: flex;
    justify-content: space-evenly;
}

.user-card {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  border: 1px solid black;
  padding: 10px;
}

.users-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.user-card-section {
  width: 50%;
  height: 100px;
}

.user-card img {
  object-fit: contain;
}

.user-card:hover {
  background-color: rgb(227, 230, 230);
  border: 2px solid black;
}

.drop-button {
  margin: 0;
  cursor: pointer;
}

.topics-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.topics-dropdown-content p {
  float: none;
  color: black;
  padding: 12px 16px;
  display: block;
  text-align: left;
}
.topics-dropdown-content p:hover {
  background-color: #ddd;
  cursor: pointer;
}

.topics-dropdown:hover .topics-dropdown-content {
  display: block;
  cursor: pointer;
}
